# Ignore bundler config
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp
/public/system/*
.idea/*
.esproj
*.espressostorage
public/uploads/*
.DS_Store
/config/secrets.yml
/config/unicorn.rb
/config/deploy.rb
/config/unicorn_init.sh
config/skylight.yml
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore uploaded files in development
/storage/*
!/storage/.keep

/node_modules
/yarn-error.log

/public/assets
.byebug_history

# Ignore master key for decrypting credentials and more.
/config/master.key
