<div id="drop_overlay"><h1>Upload</h1></div>

<div id="images" data-uploads-url="<%= uploads_url %>"></div>

<%= render :partial => "uploads/upload_tmpl" %>
<%= render :partial => "uploads/image_tmpl" %>
