/* @override
	http://localapp.dev:3000/assets/uploads.css?body=1
	http://localhost:3000/assets/uploads.css?body=1 */

@import url(http://fonts.googleapis.com/css?family=Oxygen:400,300,700);

body {
	font-family: 'Oxygen', Arial, Helvetica, Geneva, sans-serif;
  padding-top: 80px;
}

#navbar {
  background-color: rgba(255,255,255,1);
  box-shadow: 0 2px 0 rgba(0,0,0,0.20);
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 56px;
  transition: all 0.2s;
  transform: translate3d(0,0,0);
  position: fixed;
  top: 0;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

#navbar #controls {
  margin-left: auto;
  margin-right: auto;
  height: 55px;
  width: 780px;
}

#navbar.nav-down, #navbar.nav-up {
  border-radius: 2px;
  background-color: rgba(255,255,255,0.90);
  width: 350px;
}

#navbar.nav-down {
  top: 20px;
  left: 20px;
}

#navbar.nav-up {
  top: -60px;
  left: 20px;
}

#navbar #logo {
  overflow: hidden;
  float: left;
  text-decoration: none;
  float: left;
  font-size: 28px;
  padding: 0;
  font-weight: 300;
  color: #e25f00;
  width: 0;
}

#navbar #upload_form {
  float: left;
  background-color: rgba(1, 132, 255, 0.7);
  color: #ffffff;
  margin-top: 0;
  margin-left: 0;
  padding: 18px 28px;
  text-shadow: 0 -1px 1px rgba(255,255,255,0.30);
  transition: all 0.2s;
  border-radius: 2px;
}

#navbar #upload_form:hover {
  background-color: #0084f0;
}

#navbar #upload_link {
  float: left;
  margin-left: 10px;
  margin-top: 5px;
  border-radius: 2px;
  color: #1c79c5;
  padding: 9px;
  text-shadow: 0 -1px 1px rgba(255,255,255,0.30);
}

#upload_link form {
	margin: 0;
	padding: 0;
}

#upload_link input {
  border: 1px solid rgba(0,0,0,0.20);
  border-radius: 2px;
  padding: 5px;
  box-shadow: inset 0 2px 0px rgba(0,0,0,0.06);
  margin-left: 10px;
  width: 150px;
}

.fileUpload {
  position: relative;
  overflow: hidden;
  padding: 0;
}

.fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

#navbar.nav-stuck {
  background-color: rgba(0,0,0,0.70);
  height: 70px;
}

#navbar.nav-stuck #logo {
  transition: all 0.2s;
  display: block;
  width: 130px;
  margin: 18px 10px 10px 20px;
}

#navbar.nav-stuck #upload_form {
  margin-top: 8px;
}

#navbar.nav-stuck #upload_link {
  margin-top: 12px;
}

#navbar.nav-stuck #upload_link input {
  width: 400px;
}

#navbar.nav-stuck #upload_link label {
  text-shadow: 0 1px #000000;
}

#images {
  padding: 0;
  margin: 0 auto;
  border-style: none;
}

#images div.image {
  margin: 0 0 3px;
  padding: 0;
  perspective: 1000;
  -webkit-perspective: 1000;
  perspective: 1000;
  width: 150px;
  height: 150px;
}

#images .image:hover .flipper, .image.hover .flipper {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

#images div.image .thumbnail {
  width: 150px;
  height: 150px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 2px;
  margin: 0;
  padding: 0;
  box-shadow: 0 2px 0 rgba(0,0,0,0.20);
  z-index: 2;
}

#images div.image .flipper {
  transition: 0.2s;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  position: relative;
  width: 150px;
  height: 150px;
}

.thumbnail, .rollover {
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	position: absolute;
	border-radius: 2px;
	top: 0;
	left: 0;
}

#images div.image .rollover {
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  padding: 0;
  width: 150px;
  height: 150px;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  background-color: #1d1d1d;
}

#images .rollover .btn {
  background-color: #57a9ff;
  color: #ffffff;
  text-decoration: none;
  padding: 5px;
  margin-right: auto;
  margin-left: auto;
  width: 100px;
  display: block;
  text-align: center;
  margin-top: 10px;
  border-radius: 2px;
}

#images .rollover .link {
  width: 140px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
  font-size: 14px;
}

#images .rollover .link input {
  border: 1px solid rgba(0,0,0,0.80);
  border-radius: 2px;
  padding: 5px;
  box-shadow: inset 0 2px 0px rgba(0,0,0,0.10);
  width: 128px;
}

#images .rollover .link label {
  text-align: center;
  color: #ffffff;
  display: block;
}

#images div.image.upload {
	width: 300px;
	height: 300px;
	box-shadow: inset 0 1px 5px black;
	background-color: #2c2c2c;
}

div.image.upload div.progress {
	margin: 0 4px 0 0;
  height: 100%;
}

div.image.upload i {
	position: absolute;
	margin: 40px 0 0;
	color: #f8f8f8;
	font-weight: 200;
	letter-spacing: 0.1em;
	z-index: 5;
	text-align: center;
	font-size: 2em;
	width: 300px;
}

div.image.upload h2 {
	position: absolute;
	margin: 80px 0 0;
	color: #e6e7e7;
	font-weight: 200;
	letter-spacing: 0.1em;
	text-shadow: 0 1px 2px #030303;
	z-index: 5;
	font-family: Raleway, Arial, Helvetica, Geneva, sans-serif;
	width: 300px;
	text-align: center;
}

div.image.upload h3 {
	position: absolute;
	color: #aed9ee;
	letter-spacing: 0.1em;
	text-shadow: 0 1px 2px #030303;
	z-index: 5;
	width: 300px;
	text-align: center;
	margin-top: 140px;
	margin-left: 0;
	font: 400 1em Raleway, Arial, Helvetica, Geneva, sans-serif;
	padding-right: 10px;
	padding-left: 10px;
}

div.image.upload div.progress div.bar {
  background-color: #2f70ee;
  height: 296px;
  margin: 2px;
  -moz-box-shadow: inset 0 1px 75px #698feb, inset 0 0 2px #93aff1, 1px 0 2px black;
  -webkit-box-shadow: inset 0 1px 75px #698feb, inset 0 0 2px #93aff1, 1px 0 2px black;
  box-shadow: inset 0 1px 75px #698feb, inset 0 0 2px #93aff1, 1px 0 2px black;
  opacity: 1;
  position: relative;
  z-index: 5;
}

#drop_overlay {
  background-color: #343433;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  color: #ffffff;
  text-align: center;
  opacity: 0.81;
  display: none;
}

#drop_overlay h1 {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 40%;

  width: 300px;
  font-size: 5em;
  text-shadow: 0 5px 0 black;
}

@media only screen and (min-width: 768px) {
    /* tablets and desktop */
}

@media only screen and (max-width: 767px) {
    /* phones */
}

@media only screen and (max-width: 767px) and (orientation: portrait) {

    body {
      padding-top: 90px;
    }

    #navbar.nav-stuck #logo {
      display: none;
      text-align: center;
      width: 100%;
    }

    #navbar #controls {
      width: 380px;
    }

    #navbar.nav-stuck {
      padding-top: 10px;
      height: 70px;
    }

    #navbar.nav-stuck #upload_form {
      margin-left: 10px;
      margin-top: 0;
      margin-right: 10px;
    }

    #navbar.nav-stuck #upload_link {
      margin-top: 0;
      width: 80px;
      padding: 2px;
    }

    #navbar.nav-stuck #upload_link input {
      width: 160px;
      margin-left: 0;
    }

    #navbar.nav-stuck #upload_link label {
      text-shadow: 0 1px #000000;
      margin-top: 0;
      display: block;
    }

    #navbar.nav-up #upload_link, #navbar.nav-down #upload_link {
      display: none;
    }

    #navbar.nav-up, #navbar.nav-down {
      width: 109px;
    }

}

