<script id="tmpl-image" type="text/template">
  <%% _.each(images, function(image) { %>
    <div class="image">
      <div class="flipper">
        <div class="thumbnail" style="background-image:url('<%%= image.thumbnail_url %>');">
        </div>
        <div class="rollover">
          <a class="btn external" href="<%%= image.full_url %>">Full Size</a>
          <div class="link">
            <label>Short URL</label>
            <input type='text' class='image_url' value='<%%= image.full_url %>' tabindex='1'/>
          </div>
        </div>
      </div>
    </div>
  <%% }); %>
</script>
