<script id="tmpl-upload" type="text/x-tmpl">
  <div class="image upload">
    <i class="icon-spin icon-beer"></i>
    <h2>Uploading</h2>
    <h3>{%=o.name%}</h3>
    <div class="progress"><div class="bar" style="width: 0%"></div></div>
  </div>
</script>
